@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.inria-sans-light {
    font-family: "Inria Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .inria-sans-regular {
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .inria-sans-bold {
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .inria-sans-light-italic {
    font-family: "Inria Sans", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .inria-sans-regular-italic {
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .inria-sans-bold-italic {
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  

.popup-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    width: 300px;
    background-color: #fff;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo h1 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .profile-section {
    display: flex;
    align-items: center;
  }
  
  .notification-icon {
    width: 20px;
    margin-right: 15px;
  }
  
  .profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .engagement-section {
    margin-top: 20px;
  }
  
  .donut-chart {
    text-align: center;
  }
  
  .engagement-legend {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
  }
  
  .legend-item {
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
  }
  
  .twitter {
    background-color: #139ca3;
    color: white;
  }
  
  .instagram {
    background-color: #e13030;
    color: white;
  }
  
  .others {
    background-color: #f39c12;
    color: white;
  }
  
  .followers-section {
    margin-top: 20px;
  }
  
  .followers-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  
  .follower-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
  }

  .follower-card span {
    font-size: 25px;
  }
  
  .social-icon {
    width: 40px;
    /* height: 30px; */
  }

  .social-block {
    height: 45px;
    width: 40px;
    overflow: hidden;
  }
  
  .post-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .schedule-button,
  .new-post-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 49%;
  }
  
  .schedule-button {
    background-color: #007bff;
    color: white;
  }
  
  .new-post-button {
    background-color: #e0e0e0;
  }
  